.banner{
    background-image: url(banner-bg.webp);
    padding:230px;
    background-size: cover;
    background-repeat: no-repeat;

}

.skills-padding{
    padding: 70px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;

}

.skill-card {
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}